@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,300;1,900&family=Oswald:wght@300;400;500&family=Ubuntu:wght@300;400;500&display=swap');

:root {
    --darker-green: #1D5902;
    --lime-green: #87D90D;
    --smoke-white: #F2F2F2;
    --tea-green: #84BF2C;
    --green-green: #28A605;
    --graphite-black: #222222;
    --grey: #595959;
}

body {
    font-family: 'Lato', sans-serif !important;
    font-weight: 400;
    color: var(--graphite-black);
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

.content {
    width: 100vw;
    height: 100vh;
}

.green-background {
    background-color: var(--tea-green);
}

.white-background {
    background-color: var(--smoke-white);
}

.hello-box {
    padding: 30px 40px;
    height: 40vh;
    display: flex;
}

.hello-box .settings-icon {
    color: var(--smoke-white)
}

.hello-box .hello-title {
    color: var(--smoke-white);
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.3rem;
    font-weight: 300;
}

.hello-box .hello-title span {
    font-weight: 500;
}

.menu-box {
    padding: 50px 40px;
}

.menu-box > div {
    margin-bottom: 4rem;
}

.menu-box > div:last-child {
    margin-bottom: 0;
}

.menu-box .wallet-box {
    
}

.menu-box .wallet-box .wallet-title {
    font-weight: 600;
}

.menu-box .wallet-box .wallet-content {
    font-size: 2.4rem;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
}

.menu-box .wallet-box .wallet-content > a {
    font-size: 1rem;
    display: flex;
    justify-content: end;
    flex-grow: 1;
    align-items: center;
    font-family: 'Lato', sans-serif;
    color: var(--lime-green);
}

.menu-box .wallet-box .wallet-content > p {
    margin: 0;
}

.menu-box .wallet-box .wallet-content > p > span, .menu-box .wallet-box .wallet-title > span {
    color: var(--green-green)
}

.menu-box .menu-items {
    display: flex;
}

.menu-box .menu-items .menu-item-btn {
    margin-right: 2rem;
    border: 1px solid var(--grey);
    border-radius: 2px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex: 1;
    padding: 10px 20px
}

.menu-box .menu-items .menu-item-btn > div {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

.menu-box .menu-items .menu-item-btn:last-child {
    margin-right: 0;
}

.menu-box .menu-items .menu-item-btn .menu-item-icon {
    color: var(--lime-green);
}

.unilocker-title {
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    font-size: 2.8rem;
    color: var(--graphite-black);
    font-weight: 500;
}

.name-input {
    background-color: var(--smoke-white);
    border-width: 0 0 3px 0;
    border-color: var(--darker-green);
    padding: 10px 20px;
    border-radius: 2px;
    width: 60vw;
    transition: 0.2s;
}

.name-input:hover, .name-input:active, .name-input:focus {
    border-width: 0 0 3px 0;
    border-color: var(--lime-green);
    transition: 0.2s;
}

.successful-purchase-box {
    padding: 0 30px;
    margin-bottom: 2rem;
    text-align: center;
}

.successful-purchase-box h1 {
    font-size: 3rem;
    color: var(--smoke-white);
    margin-bottom: 2rem;
}

.successful-purchase-box a {
    color: var(--darker-green);
}

.successful-purchase-box .qrcode-box {
    margin-top: 2rem;
}

*:focus {
    outline: none;
}

.go-back-icon a {
    color: var(--smoke-white);
    text-decoration: none;
}

.payment-wallet {

}

.select-locker-box {
}

.select-locker-box .select-locker-btn {
    border: 1px solid var(--tea-green);
    padding: 0 20px;
    display: flex;
    margin-bottom: 5px;
}

.select-locker-box .select-locker-btn > label {
    margin-left: 1rem;
    flex-grow: 1;
    padding: 10px 0;
}

.payment-continue-box {
    padding: 0 40px 20px 40px;
}

.continue-btn {
    width: 100vw;
    text-align: center;
    background-color: var(--green-green);
}

.continue-btn > a {
    color: var(--smoke-white);
    font-size: 1.3rem;
    padding: 20px;
    display: block;
    width: 100vw;
    text-decoration: none;
}